table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  align-items: center;
  align-self: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.imgg {
  width: 441px;
    height: 297px;
    margin: 43px 14px 9px 310px;
}

.product-detail-page {
  width: 80%;
  margin: 0px 0px 0px 113px;
}